{%  for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        {% if (label == 'success') %}

            <div class="alert alert-success"><b>{{ flash }}</b>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>


        {% elseif (label == 'error') %}
            <div class="alert alert-danger">
                <strong>Error!</strong>
            </div>

        {% elseif (label == 'info') %}
            <div class="alert alert-danger">
                <strong>Error!</strong>
                <br>
            </div>

        {% elseif (label == 'warning') %}
            <div class="alert alert-danger">
                <strong>Error!</strong><br>{{ flash }}
            </div>
        {% endif %}
    {% endfor %}

{% endfor %}