{% extends 'frontbase.html.twig' %}

    {% block title %}Eserver {{data[0].title}}{% endblock %}
    {% block keywords %}{{data[0].keywords}}{% endblock %}
    {% block description %}{{data[0].description}}{% endblock %}

{% block body %}

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                {{ data[0].smtpserver|raw }}
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>


{% endblock %}
