{% extends 'frontbase.html.twig' %}

    {% block title %}Referans {{data[0].title}}{% endblock %}
    {% block keywords %}{{data[0].keywords}}{% endblock %}
    {% block description %}{{data[0].description}}{% endblock %}

{% block body %}

    <hr class ="soften">
    <div class="well well-small">

        <h1>Referanslar</h1>
        <hr class ="soften"/>
        <div class="row-fuild">
            <div class="span12 relative">

                {{ data[0].referances|raw }}
            </div>
        </div>
    </div>



{% endblock %}
